    <div class="faq mt-24">

      <div class="faq-item">
        <button class="faq-q" type="button">1. KEZELÉS ELŐTT: Mit szabad és mit nem?</button>
        <div class="faq-a">
          <p><strong>Így készülj az oxigénterápiára:</strong></p>
          <p>✔️ Fogyassz több zöldséget, gyümölcsöt – lehetőleg bio vagy megbízható forrásból</p>
          <p>✔️ Igyál napi 2 liter szénsavmentes vizet</p>
          <p>✔️ Kerüld a kávét, alkoholt és szénsavas üdítőket a kezelés előtti napokon</p>
          <p>✔️ Legalább pár órával a kezelés előtt ne dohányozz</p>
          <p>✔️ Ne moss hajat 48 órával a kezelés előtt</p>
          <p>✔️ Hajfestés, szőkítés, hajegyenesítés előtt és után legalább 10 nap szünetet tarts</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">2. KEZELÉS UTÁN: Mit szabad és mit nem?</button>
        <div class="faq-a">
          <p><strong>Fontos utasítások az oxigénterápia után:</strong></p>
          <p>✔️ 1 óráig kerüld a dohányzást, koffeint, szénsavas italokat</p>
          <p> ✔️ 12 óráig ne sportolj, szaunázz, szoláriumozz</p>
          <p> ✔️ 48 óráig ne moss hajat, 24 óra a minimum</p>
          <p> ✔️ 48 óráig kerüld a napfényt a fejbőrön</p>
          <p> ✔️ 10 napig tilos hajfestés, szőkítés, vegyi kezelések</p>
          <p> ✔️ Csak kemikáliamentes hajápolót használj</p>
          <p> ✔️ Festés csak hajgyógyász által ajánlott, max. 1%-os kemikáliás termékkel</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">3. Mennyi idő után látható az eredmény? Hány alkalomra van szükség?</button>
        <div class="faq-a">
          <p>Egy teljes oxigénterápiás kúra általában 5-10 alkalmat jelent, de a panaszok súlyosságától függően ennél kevesebb vagy több kezelés is szükséges lehet a kívánt eredmény eléréséhez.</p>
          <p><br></p>
          <p>Szintén a panasz súlyosságától függ, hogy már az első 1-2 alkalommal, vagy csak később kezdenek majd látszani az eredmények.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">4. Mennyibe kerül az Oxigénterápia?</button>
        <div class="faq-a">
          <p>Haj oxigénterápia esetén az első alkalom (állapotfelmérés + teljes kezelés): <strong>29.900 Ft </strong>Haj + Arc etesén: <strong>39.900 Ft</strong> </p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">5. Milyen problémák esetén milyen eredményeket várhatok?</button>
        <div class="faq-a">
          <p>✔️ Hajhullás esetén: erősebb hajhagymák, új hajszálak megjelenése, dúsabb haj.</p>
          <p>✔️ Férfiaknál erősebb, sűrűbb szakáll.</p>
          <p>✔️ Korpás, zsíros, viszkető fejbőr: gyulladás csökkenése, fejbőr tisztulása.</p>
          <p>✔️ Pikkelysömör, ekcéma, seborrhea: irritáció csökkenése, látványos javulás.</p>
          <p>✔️ Roncsolt, töredezett haj: puhább, selymesebb haj, szebb hajtextúra.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">6. Biztonságos-e a kezelés terhesség vagy szoptatás alatt?</button>
        <div class="faq-a">
          <p>✔️ <strong>Igen, a kezelés teljes mértékben biztonságos terhesség és szoptatás alatt is.</strong></p>
          <p> Az oxigénterápia 100%-ban <strong>kemikáliamentes</strong>, természetes hatóanyagokat és tiszta oxigént használunk, így semmilyen kockázatot nem jelent a kismamákra vagy a babákra nézve. Kifejezetten ajánlott a hormonális változásokkal összefüggő hajhullás vagy fejbőrpanaszok enyhítésére ebben az időszakban.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">7. Milyen hatóanyagokat juttattok a fejbőrbe a kezelés során?</button>
        <div class="faq-a">
          <p>100% tisztaságú palackozott oxigénnel juttatunk be <strong>vitaminokat, ásványi anyagokat, enzimeket és növényi kivonatokat</strong>, amelyek teljesen <strong>organikusak, vegánok és kemikáliamentesek</strong>.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">8. Mi a különbség az oxigénterápia és más hajkezelések között?</button>
        <div class="faq-a">
          <p>Az oxigénterápia <strong>nem kozmetikai kezelés</strong>, hanem hajgyógyászati célú kúra. Nem csak a haj felületét, hanem a problémák gyökerét – a fejbőrt és a hajhagymákat – célozza meg. <strong>Fájdalommentes, tartós, kockázatmentes</strong> és természetes megoldás.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">9. Kik végzik a kezelést, milyen szakmai háttérrel rendelkeznek?</button>
        <div class="faq-a">
          <p>A kezeléseket <strong>oxigénterápiás képzést elvégzett gyakorlott fodrászok és masszőrök</strong> végzik, akik speciális mikrokamerás diagnosztikával és terápiás protokollal dolgoznak.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">10. Kinek NEM ajánlott az oxigénterápiás kezelés?</button>
        <div class="faq-a">
          <p>Ellenjavallat:  láz, nátha, felső légúti hurut, erős allergia, citosztatikus terápia az alábbi szerekkel: doxorubicin, ciszplatin, disulfiram, mafenid acetát.</p>
          <p><br></p>
          <p>Tartósan kizáró okok: spontán légmell az előzményben, jelentős obstruktív légúti betegség, súlyos asthma,COPD, egyes fülműtétek utáni állapot,kongenitális szferocitózis,peacmaker, gennyes sebes vérző fejbőr.</p>
        </div>
      </div>

    </div>
