    <div class="faq mt-24">

      <div class="faq-item">
        <button class="faq-q" type="button">Van-e bármilyen ellenjavallat, ami miatt nem ajánlott a kezelés?</button>
        <div class="faq-a">
          <p>Head Spa kezelésen akkor vehetsz részt, ha az alábbiakat elfogadod:</p>
          <ul>
            <li>A kezelést megelőző 4 héten belül fejsérülésed, vagy súlyosabb (hányással és lázzal járó) agyrázkódásod nem volt.</li>
            <li>Nincsen akut arcüleggyuladásod, nyirokcsomó-vagy mandulagyulladásod, illetve foggyulladásod.</li>
            <li>Nem vagy lázas beteg.</li>
            <li>Az elmúlt 4 hétben nem estél át nagyobb műtéti beavatkozáson.</li>
            <li>Nem vagy vérzékeny.</li>
            <li>Nem vagy fertőző beteg (Hepatitis A,B,C, Aids, tuberkulózis, vagy egyéb fertőző betegség)</li>
            <li>A felsőtested bőrfelületén nincsen nyílt seb, friss taruma, intenzív hámhiány, fekély, vagy mély gombásodás.</li>
            <li>Nem vagy epilepsziás.</li>
            <li>Nincs kezeletlen szív- és érrendszeri betegséged.</li>
            <li>Nincsen kiugróan magas vérnyomásod.</li>
            <li>És nem vagy veszélyeztetett terhes.</li>
          </ul>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Csak hosszú hajra ajánlott, vagy rövidebb haj esetén is hatékony?</button>
        <div class="faq-a">
          <p>A Head Spa bármilyen hajhossznál hatékony, rövid és hosszú haj esetén egyaránt. A kezelés a fejbőrre fókuszál, így a haj hossza nem befolyásolja az eredményt.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Fejfájás vagy migrén esetén segíthet a Head Spa kezelés?</button>
        <div class="faq-a">
          <p>A fejbőr masszírozása javítja a vérkeringést és oldja a feszültséget, ami sok esetben segíthet enyhíteni a fejfájást vagy migrént.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Férfiak is jöhetnek?</button>
        <div class="faq-a">
          <p>A Head Spa nemtől függetlenül bárkinek ajánlott, férfiak és nők egyaránt élvezhetik a kezelést és annak előnyeit.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Kopasz férfiak is jöhetnek? :)</button>
        <div class="faq-a">
          <p>Természetesen, a nem hajas fejbőr talán ugyanúgy érzékeny és jól reagál a masszázsra és a fejbőr kezelésre.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Milyen hatással van a Head Spa a stressz csökkentésére?</button>
        <div class="faq-a">
          <p>A Head Spa relaxáló masszázsa és nyugtató környezete segít csökkenteni a stresszt és feltölt mentálisan is, így a rendszeres headspa nyugtató hatású, jobb közérzetet biztosít és segíti az alvást.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Lehet-e kombinálni a Head Spa kezelést más hajkezelésekkel, például hajfestéssel vagy hajvágással?</button>
        <div class="faq-a">
          <p>Igen, a Head Spa remekül kiegészíti a hajfestést és hajvágást, sőt előkészíti a fejbőrt és a hajat, hogy még szebb legyen a végeredmény. A MOSAIC szalonban 18 év tapasztalatú fodrásszal is várunk.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-q" type="button">Lehet Head Spa-ra jönni póthajjal?</button>
        <div class="faq-a">
          <p>Igen, lehet headspa kezelésre jönni póthajjal is, de fontos figyelembe venni néhány dolgot. A kezelés elsősorban a fejbőrre fókuszál, így a póthaj nem akadály, de előzetesen érdemes jelezni, hogy póthajad van. Így személyre szabottan, kíméletes technikával végezzük a kezelést, hogy elkerüljük a póthaj károsodását vagy kilazulását. A headspa segíthet a saját hajad és a fejbőröd egészségének megőrzésében, ami a póthaj tartósságára is pozitív hatással lehet.</p>
        </div>
      </div>

    </div>
